
    {{! About section start  }}

    <div class="container-fluid mt-5 about-style" id="about-id">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow Your Business With US</p>
          <div class="row">
            {{! left side  }}
            <div class="col-md-6 col-12 hero-text">
              <figure>
                <img src="IMG/about.svg" alt="herosection_image" />
              </figure>
            </div>

            {{! right side  }}
            <div
              class="col-md-6 col-12 hero-text justify-content-center align-items-start flex-column"
            >
              <h1>WE ARE THE PROFESSIONAL DEVELOPER ✌</h1>
              <P>Welcome to
                <span class="bold-style">AshuraWorld</span>, Your Number One
                Source Of All Things. We're Dedicated To Giving You The Very
                Best Of Work, With A Focus On [Three Characteristics, ie:
                Dependable, Customer Service And Uniqueness.]
              </P>
              <button class="btn-style btn-primary">Read More</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    {{! About section ends }}
